<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>IntranetAoc</display-name>
	<context-param>
		<param-name>BootsFaces_THEME</param-name>
		<param-value>custom</param-value>
	</context-param>
	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>#{themeBean.currentTheme}</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/pages/inicio2.xhtml?faces-redirect=true</location>
	</error-page>
	<!-- <error-page> <error-code>400</error-code> <location>/pages/inicio2.xhtml?faces-redirect=true</location> 
		</error-page> <error-page> <error-code>404</error-code> <location>/pages/inicio2.xhtml?faces-redirect=true</location> 
		</error-page> <error-page> <error-code>500</error-code> <location>/pages/inicio2.xhtml?faces-redirect=true</location> 
		</error-page> -->
</web-app>
